
body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding-top: 10px;
  flex: 1 0 auto;
}

/* NAV BAR */
nav {
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  width: 100%;
}

.tab {
  padding-right: 15px;
}

nav a {
  color: white;
  margin: 5px
}

.tab a:hover {
  text-shadow: 1px 1px 2px;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

/* FOOTER */
footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
}

#copyright {
  width: 100%;
  padding: 10px 0;
  color: white;
}

/* ART INDEX */
#index {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
}

form {
  margin-top: 50px;
}

#confirm {
  width:100%;
  display: flex;
  justify-content: center;
}

form #id_username, #id_password, #id_password1, #id_password2, #id_name, #id_link, #id_description, #id_first_name, #id_last_name, #id_email {
  width: 100%;
}

form p {
  font-size: 20px;
}

p label {
  font-size: 15px;
}


#gallery img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

button a {
  color: white;
}

.helptext {
  font-size: 10px;
}

.error {
  font-size: 10px;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 0;
  color: orangered;
}

#name img{
  width: 100%;
  height: 250px;
  object-fit: cover;
}

#note-card {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

#note-detail img {
  width: 100%;
  object-fit: cover;
  max-height: 200px;
  border-radius: 10px;
}

.box {
  background-color: #C16ECF;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 8px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

/* NOTES INDEX */
