
body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 10px;
  flex: 1 0 auto;
}

/* NAV BAR */
nav {
  background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%);
  width: 100%;
}

.navbar-brand {
  color: white;
}

.tab {
  padding-right: 15px;
  
}

nav a {
  color: white;
}

.tab :hover {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

/* FOOTER */
footer {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(260deg,  #C16ECF 100%, #2376AE 0);
}

#copyright {
  width: 100%;
  padding: 10px 0;
  color: white;
}

/* ART INDEX */
#index {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
}

form {
  margin-top: 50px;
}

form #id_username, #id_password, #id_password1, #id_password2, #id_name, #id_link, #id_description, #id_first_name, #id_last_name, #id_email {
  width: 100%;
}

form p {
  font-size: 20px;
}

.box {
  background-color: #C16ECF;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid white;
  padding: 8px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}