{% extends 'base.html' %}
{% block content %}

<h1>Sign Up</h1>
{% comment %} Displays error message if not possible to signup {% endcomment %}
{% if error_message %}<p class="red-text">{{ error_message }}</p>{% endif %}

{% comment %} Form with user's data to signup {% endcomment %}
<form method="post" action="{% url 'signup' %}">
  {% csrf_token %}
  {% comment %} {{ user_form.as_p }} {% endcomment %}
  {% for field in user_form %}
    <div class="fieldWrapper">
      {% for error in  field.errors%}
        <p class="error">{{ error }}</p>
      {% endfor %}
        {% comment %} {{ field.errors }} {% endcomment %}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
          {{ pass }}
        {% endif %}
    </div>
{% endfor %}
  <input type="submit" class="btn box" value="signup">
</form>

{% endblock content %}