{% extends 'base.html' %}
{% load static %}
{% load main_app_extras %}
{% block content %}

<h1 class="mb-5"> Note Detail</h1>

{% comment %} Note Details {% endcomment %}
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="container">        
        <div class="card">
          <div class="card-body" style="background-color: {{note.color}}; opacity: 0.9;">
            <span class="card-title"> Card{{ note.name }}</span>
            <p>Color: {{ note.color }}</p>
            <p>Description: {{ note.description }}</p>
            <p>Number: {{ note.number }}</p>
          </div>

          <audio controls id="audio">
            {% with "/audio/"|addstr:note.number|addstr:".mp3" as audio_static %}
            <source src="{% static audio_static %}" type="audio/mp3">
            {% endwith %}
            Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>

    <div class="col-sm">
      <div class="container">        
        <div class="card">
          <div class="card-body">
            <h5>What color associates with this sound?</h5>
            <p>Add your name and your association</p>

            {% comment %} Form for guest record {% endcomment %}
            <form action="{% url 'add_person' note.id %}" method="post">
              {% csrf_token %}
              {{ person_form.as_p }}
              <input type="submit" class="btn btn-primary box" value="Add Color">
            </form>
          </div>
        </div>

      {% comment %} TABLE WITH GUEST RECORDS {% endcomment %}
    </div>
  </div>
</div>

<div class="container">
<div class="row">
        <div class="container mt-3">
          <div class="row">
            <div class="col">
                <p>Your Name</p>
            </div>

            <div class="col">
                <p>Associated color</p>
            </div>
          </div>

          {% for person in note.person_set.all %}
            <div class="row">
              <div class="col">
                  <p class="p-2">{{person.name}}</p>
              </div>
  
              <div class="col">
                  <p class="p-2"style="background-color: {{person.color}}">{{person.get_color_display}}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
</div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-6">
        <h4>Associated art with {{ note.name }} note:</h4>
        {% if note.pictures.count %}
          {% for picture in note.pictures.all %}
          {% comment %} The actual picture art {% endcomment %}
          <div class="card" style="width: 18rem;">
            <img src="{{picture.link}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{picture.name}}</h5>
              <p class="card-text">{{picture.description}}</p>
            </div>
          </div>
          {% endfor %}
        {% else %}
          <h5>Add a first art that associates with {{ note.name }} note </h5>
        {% endif %}
    </div>

      <div class="col-6">
        <h4>Available for association</h4>
        {% if pictures.count %}
          {% for picture in pictures.all %}
          {% comment %} The actual picture art {% endcomment %}
          <div class="card" style="width: 18rem;">
            <img src="{{picture.link}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{picture.name}}</h5>
              <p class="card-text">{{picture.description}}</p>
              <form action="{% url 'assoc_picture' note.id picture.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn box">Add</button>
              </form>
            </div>
          </div>
          {% endfor %}
        {% else %}
          <h5>Add a first art that associates with {{ note.name }} note </h5>
        {% endif %}
      </div>
    </div>
  </div>
</div>



<script>
    let selectColor = document.getElementById('id_color');
    M.FormSelect.init(selectColor);
</script>
 
{% endblock %}





