{% extends 'base.html' %}
{% block content %}
<h1>Notes List</h1>

{% for note in notes %}
{% comment %} <a href="{% url 'detail' note.id %}">
  <div class="card {{ note.color }} lighten-3">
    <div class="card-content">
      <span class="card-title">{{ note.name }}</span>
      <p>Color: {{ note.color }}</p>
      <p>Description: {{ note.description }}</p>
      <p>Number: {{ note.number }}</p>
    </div>
  </div>
</a> {% endcomment %}
{% endfor %}

{% endblock %}

    <a href="{% url 'detail' note.id %}">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 mt-5">
          <div class="card" id="gallery">
            <img src="{{picture.link}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{picture.name}}</h5>
              <p class="card-text">{{picture.description}}</p>
              <a href="#" class="btn btn-primary box">EDIT</a>
            </div>
          </div>
        </div>
      </div>
    </a>