{% extends "base.html" %}
{% block content %}
  <h1> Profile</h1>
  {% if error_message %}
    <h5 class="text-danger mt-3">{{ error_message }}</h5>
  {% else %}
    <h5 class="text-danger mt-3">{{ success_message }}</h5>
  {% endif %}

  <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <div id="confirm">
      <div>
        <input type="submit" value="Update Profile" class="btn btn-primary box">
        <button class="btn btn-danger box"><a href="{% url 'confirm_delete_user' user.username %}">Delete Profile</a></button>
      </div>
    </div>
  </form>
{% endblock %}