{% extends "base.html" %}
{% block content %}

<h1>Picture Details</h1>
<div class="row">
  <div class="col-md-5 mt-4">
    <div class="card" id="picture_detail">
      <img src="{{picture.link}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{picture.name}}</h5>
        <p class="card-text">{{picture.description}}</p>
        <a href="{% url 'pictures_update' picture.name %}" class="btn btn-primary box">EDIT</a>
        <a href="{% url 'pictures_confirm_delete' picture.name %}" class="btn btn-primary box">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
