{% extends "base.html" %}
{% block content %}

<h1>All Pictures</h1>

<div class="container">
  {% for picture in pictures %}
    <a href="{% url 'picture_detail' picture.id %}">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6 mt-5">
          <div class="card" id="gallery">
            <img src="{{picture.link}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{picture.name}}</h5>
              <p class="card-text">{{picture.description}}</p>
              <a href="#" class="btn btn-primary box">EDIT</a>
            </div>
          </div>
        </div>
      </div>
    </a>
  {% endfor %}
</div>
{% endblock %}