{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>About</h1>
<div class="container mt-5">
    <div class="row">
        <div class="col-6 col-md-4">
            <div class="card" id="name">
              <img src="{% static "images/angel.jpg"%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Angel Rodriguez</h5>
                <p class="card-text">Soccer aficionado and fry connoisseur. Currently surviving an apocalypse while learning python.<hr>
                "My code carries with it the message of pain" -!Frida Kahlo
                </p>
              </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card" id="name">
              <img src="{% static "images/lia.jpg"%}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lia Tsernant</h5>
                <p class="card-text"> A sowftware engineer with experience in classical music. <hr>
                "I wish one day I would debug a debugger."</p>
            </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card" id="name">
              <img src="https://cdn.pixabay.com/photo/2015/11/15/22/09/cat-1044914_960_720.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}