{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Synesthesia in Music</title>
  {% comment %} Google Fonts {% endcomment %}
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  {% comment %} Materialize {% endcomment %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  {% comment %} Custom CSS {% endcomment %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  {% comment %} Materialize JS {% endcomment %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
  <header>
    <nav class="nav-extended">
      {% comment %} The logo section with the name of the project {% endcomment %}
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Synesthesia</a>
      </div>

      {% comment %} Navbar {% endcomment %}
      <div class="nav-content">
        <ul class="tabs tabs-transparent">
          {% if user.is_authenticated %}
            {% comment %} What AUTHORIZED user can see on navbar {% endcomment %}
            <li class="tab"><a class="active" href="#">Hello, {{user}}</a></li>
            <li class="tab"><a href="/about">About</a></li>
            <li class="tab"><a class="active" href="{% url 'pictures_create' %}">Add art</a></li>
            <li class="tab disabled"><a href="{% url 'pictures_index' %}">Gallery of art</a></li>
            <li class="tab"><a href="/notes">Notes</a></li>
            <li class="tab"><a href="{% url 'profile' user.id%}">Profile</a></li>

            <li class="tab"><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            {% comment %} What NOT AUTHORIZED user can see on navbar {% endcomment %}
            <li class="tab"><a href="/about">About</a></li>
            <li class="tab"><a href="/notes">Notes</a></li>
            <li class="tab"><a href="{% url 'login' %}">Log In</a></li>
            <li class="tab"><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  
  {% comment %} The main section with all details {% endcomment %}
  <main class="container">
      {% block content %}
      {% endblock %}
  </main>

  {% comment %} Footer add your names for the project 2, please {% endcomment %}
  <footer class="page-footer orange darken-4">
    <div class="copyright">Lia Tsernant,  &copy; 2020 Synesthesia in Music &nbsp;</div>
  </footer>
</body>
</html>