{% extends 'base.html' %}
{% block content %}
    <h1 class="animated fadeInLeft welcome">
        Welcome to <span class="spanSyn">Synesthesia</span>  in Music
    </h1>
    <hr>
    <div class="mainText">
        <p class="animated fadeInUp callToAction"> 
        Chromesthesia is a type of synesthesia. An acoustic perception evokes a visual experience.
        <br>
        Some people see music in shapes and colors, they may have a perception of taste and smell, and in their fingertips, they may even feel a texture.
        These synesthetic experiences are automatic and involuntary. But attention to the sense of hearing is needed to perceive it consciously.
        Because so often we are distracted from the present moment in modern society, we miss the sense of hearing; and the synesthetic experiences. 
        We do not notice that we hear the music in colors.
        <br/>
        <br/>
        For Duke Ellington, a D note looked like dark blue burlap while a G was light blue satin. When Pharrell Williams listened to Earth, 
        Wind and Fire as a kid, he saw burgundy or baby blue. For Kanye West, pianos are blue, snares are white, and basslines are dark brown and purple. 
        Orange is a big one for Frank Ocean.
        <br/>
        <br/>
        All of these artists—along with Stevie Wonder, Billy Joel, Mary J. Blige, Blood Orange's Dev Hynes, and more—have synesthesia, a
        condition in which a person's senses are joined. They hear a certain timbre or musical note and see a color, or smell a perfume and hear a sound, 
        or see a word and taste a flavor. 
        According to Carol Steen, the co-founder of the American Synesthesia Association, there are more than 60 permutations of synesthesia, 
        and recent studies have suggested around 4% of us have it in some form. 
        </p>
    </div>
{% endblock content %}